@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind utilities;
@tailwind components;

.nav {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-out;
}

.nav.nav__active {
  visibility: visible;
  opacity: 1;
}

.nav .nav__container {
  transform: translate(-100%, 0);
  transition: all 0.5s ease-out;
}

.nav.nav__active .nav__container {
  transform: translate(0, 0);
}
